body {
    background-color: #f2f2f2 ;
    text-align: center;
    font-family: Arial;
}
h1 {
    color: blue;
}
.whatsapp-btn{
    background-color: #25D366;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}
.whatsapp-btn:hover {
    background-color: #1ebe5d;
}