body {
    background-color: #f2f2f2 ;
    text-align: center;
    font-family: Arial;
}
h1 {
    color: blue;
}
.whatsapp-btn{
    background-color: #25D366;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}
.whatsapp-btn:hover {
    background-color: #1ebe5d;
}
p {
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
}
.name {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 20px;
    text-transform: uppercase;
}
.profile-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    border: 3px solid #ddd;
}
@media (max-width:600px;) {
    .profile-card {
        width: 90%;
        padding: 20px;
     }
     .profile-cardimg {
        width: 140px;
        height: 140px;
    }
    .whatsapp-btn {
        width: 100%;
        font-size: 16px;
    }
}

.social a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: #333;
}

.social a:hower {
    color:#25D366;
}
img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
h1 {
    color: #1e90ff;
    text-align: center;
}
.social a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: #333;
}